@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');


body { 
    background-image: linear-gradient(#FFD6C8,#FFC2A8);
    background-attachment: fixed;
}

.containercoracao {
    height: 500px;
    width: 350px;
}

.containerfoto1 {
    height: 500px;
    width: 259px;
    border: 5px solid #E66D5E;
}

.containerfoto2 {
    height: 500px;
    width: 350px;
    border: 5px solid #E66D5E;
}

